# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
src/Makevars.win text eol=crlf
cleanup.win text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.ac text eol=lf
configure text eol=lf
configure.ac text eol=lf
src/Makevars.in text eol=lf
cleanup text eol=lf
src/sources.list text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.pdf binary