.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.o
*.log
*.status
*.synctex
*.bak
TexAux/
inst/doc
autom4te.cache
config.log
config.status
docs/*
!docs/manual/
docs/manual/Older/
docs/manual/TexAux/
*.code-workspace
*.gz
*.Rproj
NEWSnew.md
man/Show.*


check/*
docs/manual/*.aux
docs/manual/*.bbl
docs/manual/*.blg
docs/manual/*.log
docs/manual/*.out
docs/manual/*.toc
docs/manual/*.fdb_latexmk
docs/manual/*.fls

# Logfiles

*.txt

# VsCode settings
.vscode/

# Makevars
Makevars
Makevars.win

# Mac OS
.DS_Store