.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.o
*.log
*.status
*.synctex
*.bak
TexAux/
inst/doc
autom4te.cache
config.log
config.status
docs/*
!docs/manual/
docs/manual/Older/
docs/manual/TexAux/
*.code-workspace
*.gz
*.Rproj
NEWSnew.md
